*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
}
body::after {
  content: "";
  background-image: url(../images/bg-top.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}
body::before {
  content: "";
  background-image: url(../images/bg-bottom.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}
.container h2 {
  color: hsl(233, 13%, 49%);
  margin-bottom: 1.5rem;
}
.toogle {
  margin-bottom: 3.5rem;
  color: hsl(240, 9%, 73%);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toogle label {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  display: inline-block;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 45px;
  cursor: pointer;
}
.toogle label:hover {
  background-image: none;
  background-color: hsl(237, 64%, 87%);
}

.toogle input {
  position: absolute;
  left: -9999px;
  /* chnage this later
  */
}
.toogle label .ball {
  background-color: white;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 3px;
  left: 2.5px;
  border-radius: 50%;
  transition: transform 0.4s ease;
}
.toogle input:checked + label .ball {
  transform: translateX(20px); /* chnage this later
  */
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: stretch; /* chnage this later*/
  width: 100%;
  gap: 20px;
  margin: 1rem;
  min-width: 345px;
}

.card {
  background-color: white;
  color: hsl(233, 13%, 49%);
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 8px;
  max-width: 300px;

  font-size: 15px;
  transition: all 0.1s ease-in-out;
}
.card-head {
  margin-bottom: 1rem;
}

.card-price {
  color: hsl(232, 13%, 33%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.price .monthly {
  display: none;
}

.show-monthly .price .monthly {
  display: block;
}
.show-monthly .price .annually {
  display: none;
}

.doller {
  font-size: 35px;
  margin-right: 5px;
}

.card-list ul {
  border-top: 1px solid hsl(0, 0%, 88%);
  padding: 0;
  list-style-type: none;
}
.card-list ul li {
  border-bottom: 1px solid hsl(0, 0%, 88%);
  padding: 15px 0;
}

.card:hover .card-list ul {
  border-top: 1px solid hsl(237, 84%, 80%);
}
.card:hover .card-list ul li {
  border-bottom: 1px solid hsl(237, 84%, 80%);
}
.card:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  transform:scale(1.15);
}
.card:hover .card-price {
  color: white;
}


.card-list {
  text-decoration: none;
}
 .card-button {
  margin-top: 1.1rem;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Montserrat";
  cursor: pointer;
  border: 1px solid white;
}

.card:hover .card-button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
} 
.card .card-button:hover {
  background-image: none;
  background-color:  hsl(237, 63%, 64%);;
  color:white;
  border: 1px solid white;
} 


@media screen and (max-width: 768px) {
  .flex-card {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .card.main {
    margin-top: 0;
    margin-bottom: 0;
  }
  .card:hover{
    transform:none;
  }
  .card {
    min-width: 300px;
  }

  body::before {
    background-image: none;
  }
  body::after {
    left: 200px;
  }
  .container {
    height: 100%;
  }
}
